// VARIABLES 


// SINGLE COLORS
$primary-clr:#0A6ADA;
$primary-clr-alt:#0076FF;
$secondary-clr:#DF142D;

$dark-clr:#282E44;
$dark-clr-alt:#0B1023;

$gray:#EEF0F4;
$gray-2:#D0D2D9;
$theme-clr:#FFF;


// COLOR GRADIENTS

$sidebar-gradient:linear-gradient(140deg,#0A69DA 35%,#0856C8 115%,#0231A5 165%);
$banner-gradient:linear-gradient(170deg, #023B96 5%, #022357 90%);
$footer-banner-gradient: linear-gradient(270deg , #FF7B71 10%, #FF4A3C 95%);



$font-family:'Open Sans', sans-serif;