@import "variables";
@import "global";

header {
  background: url(../img/header-bg.png) no-repeat right/cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
}
.header-logo {
  width: 70px;
  opacity: 0;

  img {
    width: 100%;
  }
}
.header-menu {
  display: none;
  cursor: pointer;
}
.header-top {
  background: linear-gradient(
    180deg,
    rgba(3, 11, 55, 0.201267) -7.15%,
    rgba(0, 41, 107, 0.0001) 100%
  );
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 5;

  .blr-bg {
    padding: 5px 8px;
    border-radius: 5vmax;
    backdrop-filter: blur(3px);
    background-color: #6c86b157;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    font-weight: 600;
    color: $theme-clr;
    cursor: pointer;
  }
  .material-symbols-outlined {
    font-size: 20px;
  }

  .profile-btn {
    .profile {
      width: 30px;
      height: 30px;
      background-color: $theme-clr;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.partner-btn {
      .profile {
        padding: 3px;
      }
    }
  }

  &.search-nav {
    background: url(../img/search-nav.png) no-repeat center/cover;
  }
}

.content-wd {
  display: grid;
  grid-template-columns: 320px calc(100vw - (320px + 130px)) 130px;
  transition: 0.2s ease-in-out;

  &.active {
    grid-template-columns: 170px calc(100vw - (170px + 130px)) 130px;
  }
}

.left-sec {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  padding: 40px;
  transition: 0.3s ease-in-out;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  margin-top: 180px;
}
.travel-medium {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  .medium {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 12px;
    color: $theme-clr;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    transition: 0.2s ease-in-out;

    &.active,
    &:hover {
      background-color: $primary-clr;
    }
  }
}

.header-form {
  background-color: $theme-clr;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0px 12px 16px -7px rgb(217 228 231);
  padding: 35px;

  .form-group {
    background-color: $gray;
    border-radius: 8px;
    padding: 14px 16px;
    border: 1px solid $gray;

    label {
      display: flex;
      align-items: center;
      span {
        color: #c2c6d2;
        font-size: 14px;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        color: #c2c6d2;
        margin: 0;
      }
    }
    .sub-title {
      font-size: 16px;
      font-weight: 600;
      color: $dark-clr;
      margin-bottom: 0;
    }
    .small-title {
      font-size: 12px;
      font-weight: 400;
      color: #475073;
    }
  }
  .btn-submit {
    background-color: $secondary-clr;
    color: $theme-clr;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 18px;
    padding: 35px;
    width: 100%;

    &:hover {
      background-color: $secondary-clr;
      color: $theme-clr;
    }
  }
}

.sidebar {
  width: 240px;
  height: 90vh;
  background: $sidebar-gradient;
  border-radius: 12px;
  padding: 15px 24px;
  display: grid;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  position: fixed;
  top: 30px;
  z-index: 10;

  .logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    background: url(../img/menu.svg) no-repeat center/contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: block;
  }

  .menu-list {
    padding-top: 75px;

    ul {
      padding: 0;
      list-style: none;
    }

    .menu-list-item {
      a {
        display: flex;
        gap: 12px;
        align-items: center;
        color: $theme-clr;
        text-decoration: none;
        padding: 10px 16px;
        margin-bottom: 5px;
        border-radius: 5vmax;
        transition: 0.2s ease-in-out;
      }

      &:hover,
      &.active {
        a {
          background-color: $primary-clr-alt;
        }
      }
    }
    span {
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
    }
  }

  &::before {
    content: "";
    background: url(../img/sidebar-cloud.png) no-repeat center/contain;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .menu-support a {
    display: flex;
    align-items: center;
    background-color: $theme-clr;
    padding: 8px 10px;
    border-radius: 5vmax;
    text-decoration: none;
    justify-content: space-between;
    gap: 12px;

    .premium {
      width: 40px;
      height: 40px;
      background: linear-gradient(214.51deg, #d10015 13.77%, #ff4369 83.58%);
      border-radius: 50%;
      flex-shrink: 0;
      display: grid;
      place-items: center;
    }
    .support-cnt {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      p {
        font-weight: 700;
        font-size: 11px;
        color: $dark-clr;
        margin: 0;
      }
      span {
        font-size: 10px;
        font-weight: 400;
        color: $dark-clr;
      }
    }
    & > span {
      color: $gray-2;
      transition: 0.2s ease-in-out;
      flex-shrink: 0;
    }
    &:hover {
      & > span {
        transform: translateX(5px);
      }
    }
  }

  &.active {
    width: 80px;

    .logo {
      display: none;
    }

    .menu-list-item a {
      gap: 24px;
    }
  }
}

.main-section {
  position: relative;
  z-index: 2;
}

.travel-single {
  background-color: $theme-clr;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 1;
  }

  &::after {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 1;
  }
  &-img {
    height: 240px;
    position: absolute;
    inset: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-range {
    position: relative;
    z-index: 2;

    span {
      font-size: 11px;
      font-weight: 400;
      line-height: 12px;
      color: $theme-clr;
    }

    p {
      margin: 0;
      font-size: 24px;
      font-weight: 800;
      color: $theme-clr;
    }
  }
  &-profile {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 14px;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid $theme-clr;
    }

    &-details {
      color: $theme-clr;

      &-name {
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 0;
      }
      &-data {
        font-size: 16px;
        font-weight: 600;
        color: #c1d4da;
      }
    }
  }
}
.offer-wrap {
  box-shadow: 0px 5px 19px -2px #e8e8e8;
  border-radius: 12px;
  padding: 30px 54px;

  .offer-card {
    margin-bottom: 30px;
    text-decoration: none;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    span {
      color: #475073;
      line-height: 14px;
      letter-spacing: 0.23px;
      font-size: 14px;
    }
  }
}
.deals-card {
  background: $footer-banner-gradient;
  padding: 58px 50px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    height: 200px;
    width: 100%;
    z-index: 0;
    background: url(../img/footer-illustration.svg) no-repeat center/contain;
  }

  h4 {
    color: $theme-clr;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2 {
    color: #ffc54d;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 0;

    span {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .btn-book {
    background-color: #ff91897d;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    text-decoration: none;
    position: relative;
    backdrop-filter: blur(10px);
  }
}
.search-top {
  background-color: $theme-clr;
  width: 100%;
  margin-top: 100px;
  grid-column: span 2;
  box-shadow: 0px 10px 10px -5px #dde3e5;
  padding: 16px 50px;
  border-radius: 0px 0px 0px 12px;
  margin-bottom: 20px;
  height: fit-content;

  form {
    label {
      font-size: 11px;
      color: #b8c1de;
      margin-bottom: 5px;
    }
    select,
    input {
      font-size: 14px;
      font-weight: 700;
      color: #404967;
      width: 100%;
    }
    button {
      background-color: $secondary-clr;
      border-radius: 5vmax;
      border: none;
      outline: none;
      color: $theme-clr;
      padding: 16px 24px;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
.hotel-heading {
  padding: 12px 20px;
  box-shadow: 0px 5px 10px 0px #e6ecef;
  margin-bottom: 12px;

  h4 {
    color: #191d23;
    font-weight: 700;
    font-size: 20px;
  }
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 12px;

    span {
      color: $primary-clr;
    }
  }
  .btn-round {
    border-radius: 5vmax;
    font-weight: 700;
    font-size: 12px;
    color: #818393;

    &.active {
      background-color: $primary-clr;
      color: $theme-clr;
    }
  }
}
.hotel-result-wraper {
  margin-bottom: 5px;

  .hotel-result-item {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 10px 0px #e6ecef;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .hotel-details {
    padding: 24px;
    width: 100%;
  }
  .hotel-slider {
    max-width: 270px;
    display: flex;
    position: relative;
  }
  .hotel-slide-wrp {
    width: 270px;
    height: 220px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      width: 100%;
      position: absolute;
      background: linear-gradient(#00000055, transparent);
      height: 60px;
    }
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      background: linear-gradient(transparent, #00000055);
      height: 60px;
      bottom: 0;
    }
  }
  .hotel-slid {
    width: 100%;
  }
  .hotel-thumb {
    width: 100px;
    position: absolute;
    bottom: 16px;
    left: 20px;
    z-index: 1;

    .hotel-thumb-wrp {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid $theme-clr;
      aspect-ratio: 1;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .slide-arrow {
    background-color: #e3eaec29;
    border: none;
    outline: none;
    border-radius: 8px;
    position: absolute;
    top: initial;
    z-index: 1;
    aspect-ratio: 1;
    margin: 0 3px;
    display: grid;
    place-items: center;
    backdrop-filter: blur(3px);

    span {
      font-size: 18px;
      color: $theme-clr;
    }
  }
  .slide-prev {
    bottom: 20px;
    right: 60px;
    left: auto;
  }
  .slide-next {
    bottom: 20px;
    right: 25px;
  }
  .hotel-details {
    h3 {
      font-size: 18px;
      color: #33344f;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 5px;
    }
    .hotel-location {
      p {
        font-size: 12px;
        color: #46475f;
      }
      span {
        font-size: 12px;
        color: $secondary-clr;
        line-height: 16px;
        text-transform: uppercase;
      }
    }
    .hotel-featurs {
      margin-top: 14px;
      display: flex;
      gap: 20px;
      font-size: 12px;
      color: #a3a6aa;
      margin-bottom: 15px;
      flex-wrap: wrap;

      p {
        margin: 0;
        display: flex;
        gap: 2px;
        align-items: center;
      }
      span {
        font-size: 18px;
      }
    }
    .hotel-pricing {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 12px;
        font-weight: 600;
        color: #ffc54d;
        margin: 0;
      }
      h5 {
        margin: 0;
        font-size: 20px;
        font-weight: 800;
        line-height: 20px;
      }
    }
    .hotel-btn {
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 12px;
      padding: 12px 20px;
      border-radius: 8px;
      display: inline-block;
    }
    .btn-view {
      color: #33344f;
      background-color: #7c829b1a;
    }
    .btn-book {
      background-color: $primary-clr;
      color: $theme-clr;
      margin-left: 12px;
    }
  }
  .rating {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: #012257;
    color: $theme-clr;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px 0px 0px 4px;
    gap: 3px;

    span {
      font-size: 12px;
    }

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: -15px;
      right: 0;
      background-color: transparent;
      border-radius: 0px 10px 0px 0px;
      box-shadow: 7px -2px 0px 0px #012257;
    }
  }
}
.filter-section {
  background-color: $theme-clr;
  box-shadow: 0px 4px 4px #f3f6f9;
  border-radius: 8px;

  .filter-top {
    background-color: #f9f9f9;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
  .filter-body {
    padding: 20px;

    select {
      box-shadow: none;
    }
  }
  .filter-chart {
    width: 100%;
    p {
      font-size: 14px;
      font-weight: 600;
    }
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .filter-items {
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      display: block;
    }
  }
  .filter-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    p {
      font-weight: 600;
      font-size: 14px;
      color: #191d23;
      margin-bottom: 0;
    }
    span {
      background-color: #022357;
      flex-shrink: 0;
      padding: 3px 8px;
      color: $theme-clr;
      border-radius: 50%;
      font-size: 12px;
      line-height: 16px;
      aspect-ratio: 1;
    }
  }
}


// MEDIA QURIES 

@media (max-width: 1280px) {
  .sidebar {
    width: 80px;
    .menu {
      display: none;
    }
    .menu {
      display: none;
    }
    .menu-list {
      .menu-list-item a {
        gap: 24px;
      }
    }
  }
  .content-wd {
    grid-template-columns: 170px calc(100vw - 300px) 130px;
    transition: 0.4s ease-in-out;
  }
  .left-sec {
    &.active {
      display: block !important;
      position: absolute;
      inset: 0;
      padding: 0;

      .sidebar {
        width: 100%;
        border-radius: 0px;
        height: 100%;
        top: 0;
      }
    }
  }
  .sidebar .menu {
    display: block;
  }
}
@media (max-width: 980px) {
  .content-wd {
    grid-template-columns: 100vw;

    &.active {
      grid-template-columns: 100vw;
    }
  }
  .left-sec {
    display: none;
  }
  .main-section {
    margin: 0 60px;
    max-width: 980px;
  }
  .profile-btn-name {
    display: none;
  }
  .header-logo {
    opacity: 1;
  }
  .header-menu {
    display: block;
  }
  .sidebar {
    &.active {
      .logo {
        display: block;
      }
    }
  }
  .search-top {
    max-width: 980px;
    grid-column: initial;
    border-radius: 0 0 12px 12px;
    padding: 16px 30px;
  }
  .hotel-result-wraper {
    .hotel-slider {
      max-width: 100%;
    }

    .hotel-result-item {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .main-section {
    margin: 0 12px;
  }
  .offer-wrap {
    padding: 18px 20px;
  }
  .header-form {
    padding: 15px;
    border-radius: 8px;
  }
  .header-form .btn-submit {
    padding: 16px;
  }
  .deals-card {
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    &::before {
      height: 120px;
    }
    h2 {
      font-size: 40px;
    }
    h4 {
      font-size: 20px;
    }
  }
  .travel-medium .medium {
    padding: 8px 12px;
    border-radius: 8px;
  }
  .card-gray {
    padding: 8px;
  }
  .hotel-result-wraper {
    .hotel-details {
      .hotel-pricing {
        flex-direction: column;
        align-items: start;
        gap: 20px;
      }
    }
  }
}